<!-- Footer -->
<footer class="bg-dark text-center text-white">
    <div class="text-center mt-5 p-3 pt-2 pb-0 bg-secondary">
        <div class="row">
            <div class="col-md-12">© 2021 Copyright:</div>
        </div>
        <div class="row">
            <div class="pt-0 col-6 pt-3 text-center">版權宣告：埔基醫療財團法人埔里基督教醫院</div>
            <div class="pt-0 col-6 pt-3 text-center">製作團隊：暨南國際大學資管系、埔里基督教醫院</div>
        </div>
    </div>
<!-- Copyright -->
</footer>
<!-- Footer -->