<nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color:#ffffffc0;">
  <div class="container-fluid">
    <a class="navbar-brand w-50" href="/"><img class="w-25" src="/images/交趾尪仔俗語故事-LOGO.png"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 mt-2">
        <li class="nav-item text-end">
          <a class="dropdown-item fs-5" href="/">回到首頁</a>
        </li>
        <li class="nav-item text-end">
          <a class="dropdown-item fs-5" href="#">回到頂端</a>
        </li>
        <li class="nav-item text-end">
          <a class="dropdown-item fs-5" href="javascript:history.back()">回上一頁</a>
        </li>
        <li class="nav-item text-end">
          <a class="dropdown-item fs-5" href="/About">關於我們</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- 
<div class="row sticky-top light align-middle" style="background-color:#ffffffc0;">
  <div class="col-5"><a class="navbar-brand w-75" href="/"><img class="w-25" src="/images/交趾尪仔俗語故事-LOGO.png"></a></div>
  <div class="col-4 float-end">
    <a class="btn" href="/">回到首頁</a>
    <a class="btn" href="#">回到頂端</a>
    <a class="btn" href="javascript:history.back()">回上一頁</a>
    <a class="btn" href="/About">關於我們</a>
  </div>
</div> -->