#backbtn{
    position: fixed;
    right: 2%;
    top: 80%;
}
.col-4 {
    text-align: center !important;
    padding-top: 10vh;
    padding-bottom: 10vh;
}
.img-thumbnail {
    padding: 0rem !important;
    background-color: #fff;
    border: 0px solid #dee2e6 !important;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
}
.img-fluid {
    max-width: auto !important;
    height: auto;
}
