#backbtn{
    position: fixed;
    right: 2%;
    top: 80%;
}
#panorama{
    margin-top: 5vh;
    width: 90vw;
    height: 80vh;
    align-self: center;
}
#panorama-container{
    margin-top: 22vh;
}
#exhibition{
    margin-top: 22vh;
    background: #6c757dd7;
    padding-bottom: 10vh;
}
.col-6 {
    text-align: center !important;
    padding-top: 10vh;
}
.img-thumbnail {
    padding: 0rem !important;
    background-color: #fff;
    border: 0px solid #dee2e6 !important;
    border-radius: 0.25rem;
    max-width: auto;
    height: auto;
}
.img-fluid {
    max-width: auto !important;
    height: auto;
}

div.custom-tooltip span {
    visibility: hidden; 
    position: absolute;
    border-radius: 10px;
    background-color: rgba(70, 70, 70, 0.781);
    color: rgb(255, 255, 255);
    text-align: center;
    max-width: 15vw;
    padding: 5px 10px;
    margin-left: -220px;
    cursor: default;
}

div.custom-tooltip:hover span {
    visibility: visible;
}

div.custom-tooltip:hover span:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-color: rgba(70, 70, 70, 0.781) transparent transparent transparent;
    bottom: -20px;
    left: -10px;
}

.pnlm-sprite {
    background-image: none !important;
}
.pnlm-controls{
    display: none !important;
}

#c{
    padding: 0.5vw;
    background: gray;
    resize: horizontal;
    overflow: auto;
    max-width: 150%;
    height: calc(100vh - 150px);
    position: relative;
}